<div>
<p>This is your AEM HTML Template Language component using a Sling Model:</p>
<div data-sly-use.heroTextObject="com.aem.community.core.models.HeroSlingModel" data-sly-test="${heroTextObject}">
 
     <h1>${heroTextObject.heroTextBean.headingText}</h1>
       <p><b>Description:</b> ${heroTextObject.heroTextBean.description}</p>
       <p><b>Selected Path value:</b> ${heroTextObject.heroTextBean.path}</p>  
       <p><b>Date:</b> ${heroTextObject.heroTextBean.date}</p>
       <p><b>CHeckbox:</b> ${heroTextObject.heroTextBean.show}</p>
       <p><b>Country:</b> ${heroTextObject.heroTextBean.cont}</p>
       <p><b>Fruit:</b> ${heroTextObject.heroTextBean.fru}</p>
       <p><b>Colour:</b> ${heroTextObject.heroTextBean.col}</p>
       <p><b>DropDown:</b> ${heroTextObject.heroTextBean.drop}</p>   

 
</div>

<!--/*<div>
<p>This is your AEM HTML Template Language component using WCMUsePojo</p>
<div data-sly-use.heroTextObject="com.aem.community.core.models.HeroTextComponent" data-sly-test="${heroTextObject}">
        <p>The following values are the resource types added to the dialog</p>
       <h1>${heroTextObject.heroTextBean.headingText}</h1>
       <p><b>Description:</b> ${heroTextObject.heroTextBean.description}</p>
       <p><b>Selected Path value:</b> ${heroTextObject.heroTextBean.path}</p>  
       <p><b>Date:</b> ${heroTextObject.heroTextBean.date}</p> 
       <p><b>CHeckbox:</b> ${heroTextObject.heroTextBean.show}</p>
       <p><b>Country:</b> ${heroTextObject.heroTextBean.type}</p>
       <p><b>Fruit:</b> ${heroTextObject.heroTextBean.fruits}</p>
       <p><b>Colour:</b> ${properties.colour}</p>  
       <p><b>DropDown:</b> ${heroTextObject.heroTextBean.dd}</p>       
     </div>*/-->

<!-- Without POJO -->
<!--/*<div>
<p>This is your AEM HTML Template Language component:</p>
      <h1>${properties.heading}</h1>
       <p>${properties.description}</p>
       <p>The following values are the resource types added to the dialog</p>
       <p><b>Selected Path value:</b> ${properties.path}</p>

       <p>
            <b>Date:</b> 
                  ${'yyyy-MM-dd HH:mm:ss.SSSXXX' @ format=properties.startdate, timezone='UTC'}
        </p>
        <p>
            <b>Size:</b> ${properties.size}
        </p>
        <p>
            <b>Checkbox:</b> ${properties.show}
        </p>
</div>*/-->
